{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    // "max-len": ["warn", { "code": 80 }],
    "prettier/prettier": "error",
    "indent": ["error", 2],
    "quotes": ["error", "single", {
      "allowTemplateLiterals":  true
  }],
    "semi": ["error", "always"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "complexity": ["warn", { "max": 10 }],
    "max-depth": ["warn", 4],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "warn",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": 0, 
    // .tsx에서도 jsx사용
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    // import 플러그인은 확장자를 명시해야 하는데 ts는 확장자를 생략하므로 무시하도록 함
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-no-useless-fragment": "off"
  },
  "overrides": [
    {
      "files": ["**/*.{js,mjs,cjs,ts,jsx,tsx}"]
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
